@{
    ViewBag.Title = "Evaluation - EVRY Public HR";
}

<div class="jumbotron">
    <h1>EVRY Evaluation</h1>
    <p class="lead">Please complete the evaluations in this project as well as you can. We'll discuss your solutions together.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Check the code for parts marked with <pre>// EVAL</pre> and follow the instructions.
        </p>
        <p>
            Create a view with a button to call the <i>ProcessEvents</i> method on the <i>Processor</i> class and present the result.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Look around</h2>
        <p>There might be areas in need of improvement or optimization.</p>
        <p>Feel free to modify things as you go along.</p>
    </div>
    <div class="col-md-4">
        <h2>Bugs</h2>
        <p>Don't be alarmed if you stumble across bugs or faults, fix the ones you can and work around the ones you can't.</p>
    </div>
</div>

<div>
    <input type="button" value="Evaluate
           " onclick="location.href='@Url.Action("Evaluate", "Home")'" />
</div>